
{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Rango{% endblock %}

{% block body_block %}
		<div class="page-header">
        	<h1>Register with Rango</h1>
		</div>
        {% if registered %}
        Rango says: <strong>thank you for registering!</strong>
        <a href="{% url 'index' %}">Return to the homepage.</a><br />
        {% else %}

        <form id="user_form" method="post" action=""
                enctype="multipart/form-data">

            {% csrf_token %}
            
            {% bootstrap_form user_form %}
			{% bootstrap_form profile_form %}
            <!-- Provide a button to click to submit the form. -->
            <button class="btn btn-primary" type="submit" name="submit">Register</button>
        </form>
        {% endif %}

{% endblock %}